div.autodoc {
  border-bottom: 2px solid rgb(230, 230, 230);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.matrix-stroke {
  stroke: #263238;
  stroke-width: 0.5;
}

.chart-text {
  font-size: 16px;
  fill: #263238;
}

.cell:hover rect {
  fill-opacity: 0.7;
}

.tooltip {
  opacity: 0;
  background: white;
  position: absolute !important;
  pointer-events: none;
  padding: 0 0.6rem;
  overflow: auto;
}
